footer{
    width: 100%;
    padding: 40px 10vw;
    background: #383838;
    padding-bottom: 80px;
}
.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.footer-content .logo{
    height: 160px;
}
.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.category{
    width: 100px;
    list-style: none;
}
.category-title{
    grid-column:span 2;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 3px;
}
.footer-link{
    text-transform: capitalize;
    color:rgba(223, 118, 118, 0.75);
    text-decoration: none;
}
.footer-link:hover{
    color: #fff;
}
.footer-title, .info{
    color: rgba(255, 254, 254, 0.75);
    text-transform: capitalize;
    margin: 20px 0;
}
.footer-title{
    margin-top: 20px;
    color: #fff;
}
